.main__title-wrap {
  border-top: 3px solid #222;
  margin: 50px 0 0 0;
  display: flex;
}

.main__title {
  padding: 20px 0 20px 50px;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 0;

}